@keyframes zoomBig {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}
	
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}

@keyframes lineUp {
	0% {
		transform: translateY(100%);
		bottom: 0;
	}
	
	100% {
		bottom: 100%;
		transform: translateY(0);
	}
}

@keyframes lineDown {
	0% {
		transform: translateY(-100%);
		top: 0;
	}
	
	100% {
		top: 100%;
		transform: translateY(0);
	}
}

.tm-popup-video {
	position: relative;
	
	a:hover {
		.video-play {
			transform: scale3d(1.15, 1.15, 1.15);
		}
		
		.video-poster {
			img {
				transform: scale(1.1);
			}
		}
	}
	
	.video-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.video-poster {
		position: relative;
		overflow: hidden;
		border-radius: inherit;
		
		img {
			transition: all 1.5s cubic-bezier(.2, 1, .22, 1);
			-webkit-backface-visibility: hidden;
			transform: translateZ(0) scale(1);
			backface-visibility: hidden;
		}
	}
	
	.video-text {
		font-size: 15px;
		font-weight: 600;
		color: #ffffff;
		margin-top: 19px;
	}
	
	.video-play {
		position: relative;
		transition: all 1s cubic-bezier(0, 0, .2, 1) !important;
		border-radius: 50%;
		
		&:hover {
			transform: scale3d(1.15, 1.15, 1.15);
		}
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	.video-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	&.style-poster-01 {
		position: relative;
		border-radius: 5px;
		
		.video-poster {
			position: relative;
			z-index: 2;
			border-radius: 5px;
			transform: translateZ(0);
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
			border-radius: 5px;
			background: rgba(69, 69, 69, .2);
		}
		
		.video-play {
			width: 84px;
			height: 84px;
			color: #000000;
			background: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-02 {
		position: relative;
		
		.video-mark {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		
		.wave-pulse {
			width: 1px;
			height: 0;
			margin: 0 auto;
			
			&:before,
			&:after {
				opacity: 0;
				content: '';
				display: block;
				position: absolute;
				width: 400px;
				height: 400px;
				top: 50%;
				border-radius: 50%;
				border: 1px solid #d8d8d8;
				animation: zoomBig 5.25s linear 5.25s infinite;
			}
			
			&:before {
				animation-delay: .75s;
			}
		}
		
		.wave-pulse-2 {
			&:before {
				animation-delay: 2.25s;
			}
			
			&:after {
				animation-delay: 1.5s;
			}
		}
		
		.wave-pulse-3 {
			&:before {
				animation-delay: 3.75s;
			}
			
			&:after {
				animation-delay: 3s;
			}
		}
		
		.video-poster {
			border-radius: 5px;
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		.video-button {
			left: 0;
		}
		
		.video-overlay {
			border-radius: 5px;
		}
		
		.video-play {
			width: 74px;
			height: 74px;
			color: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-03 {
		position: relative;
		
		.video-poster {
			position: relative;
			border-radius: 5px;
			z-index: 2;
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
		}
		
		.video-play {
			width: 84px;
			height: 84px;
			color: #000000;
			background: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-04 {
		position: relative;
		
		&:hover {
			.left-line {
				&:after {
					animation: lineDown linear 1.5s infinite;
				}
			}
			
			.right-line {
				&:after {
					animation: lineUp linear 1.5s infinite;
				}
			}
		}
		
		.line {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				width: 1px;
				height: 100%;
				background: #ffffff;
			}
			
			&:before {
				top: 0;
				opacity: .25;
			}
			
			&:after {
				height: 35%;
				width: 2px;
			}
		}
		
		.left-line {
			transform: translateX(-100px);
			
			&:after {
				transform: translateY(-100%);
				top: 0;
			}
		}
		
		.right-line {
			transform: translateX(100px);
			
			&:after {
				transform: translateY(100%);
				bottom: 0;
			}
		}
		
		.video-poster {
			position: relative;
			z-index: 2;
			border-radius: 10px;
			overflow: hidden;
			
			img {
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
		}
		
		.video-play {
			width: 80px;
			height: 80px;
			color: #14163e;
			background: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-05 {
		position: relative;
		
		a:hover {
			.video-play {
				transform: scale3d(1.5, 1.5, 1.5);
			}
		}
		
		.video-poster {
			position: relative;
			z-index: 2;
			overflow: hidden;
			border-radius: 8px;
			
			img {
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
			background: rgba(0, 0, 0, .19);
		}
		
		.video-play {
			width: 60px;
			height: 60px;
			background: #ffffff;
			margin: 0 auto;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-poster-06 {
		position: relative;
		border-radius: 5px;
		
		.video-poster {
			position: relative;
			z-index: 2;
			border-radius: 5px;
			transform: translateZ(0);
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		.video-overlay {
			z-index: 3;
			border-radius: 5px;
			background: rgba(0, 0, 0, .47);
		}
		
		.video-play {
			width: 84px;
			height: 84px;
			color: #000000;
			background: #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 1px;
			}
		}
	}
	
	&.style-button {
		.video-play {
			width: 84px;
			height: 84px;
			background: #ffffff;
			color: #000000;
			
			i {
				font-size: 20px !important;
				line-height: 1;
				margin-left: 2px;
			}
		}
	}
	
	&.style-button-02 {
		.video-play {
			width: 100px;
			height: 100px;
			color: #ffffff;
			border: 9px solid #ffffff;
			
			i {
				font-size: 54px;
				line-height: 1;
				margin-left: 2px;
			}
		}
	}
	
	&.style-button-03 {
		.video-play {
			width: 90px;
			height: 90px;
			color: #ffffff;
			background: #333333;
			
			&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				width: calc(100% + 30px);
				height: calc(100% + 30px);
				background: rgba(55, 55, 55, .05);
				left: -15px;
				top: -15px;
			}
			
			i {
				font-size: 30px;
				line-height: 1;
				margin-left: 2px;
			}
		}
	}
	
	&.style-button-04 {
		.video-play {
			width: 75px;
			height: 75px;
			color: #ffffff;
			border: 3px solid #ffffff;
			
			i {
				font-size: 20px;
				line-height: 1;
				margin-left: 2px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-popup-video {
		&.style-poster-02 {
			.video-button {
				left: 50%;
			}
		}
	}
}
