.header-16 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	.branding {
		flex-grow: 1;
	}
	
	.header-right {
		flex-shrink: 0;
		justify-self: flex-end;
	}
	
	.desktop-menu & {
		.header-wrap {
			padding: 16px 0;
		}
	}
	
	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-16 {
		.container-fluid {
			> .row {
				> .col-xs-12 {
					padding-left: 50px;
					padding-right: 50px;
				}
			}
		}
	}
}

@media (min-width: 1420px) {
	.header-16 {
		.container-fluid {
			> .row {
				> .col-xs-12 {
					padding-left: 100px;
					padding-right: 100px;
				}
			}
		}
	}
}
