.page-title-bar-09 {
	
	.heading {
		text-align: center;
	}
	
	.page-breadcrumb {
		position: absolute;
		bottom: 41px;
		left: 0;
		width: 100%;
	}
	
	.insight_core_breadcrumb {
		text-align: center;
	}
}
