.page-title-bar-05 {
	background: linear-gradient(top, #eff7ff 0%, #ffffff 100%);
	
	.heading {
		text-align: center;
		max-width: 970px;
		margin: 0 auto 49px;
	}
	
	.tm-button-wrapper {
		text-align: center;
	}
}
